body {
  background-color: #22254b;
}
.app-container{
  display: flex;
  flex-wrap: wrap; 
  /*아이템 사이즈가 브라우저의 width 길이보다 길 때,
   아이템을 브라우저 길이에 맞춰 줄이는 것이 아니라 다음 줄로 내려주는 역할*/
  justify-content: center;

}

.movie-container {
  width: 250px;
  margin: 16px;
  background-color: #373b69;
  color: white;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
  
}

.movie-container img{
  max-width: 100%;
}

.movie-info {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.movie-info h4{
  margin: 0;
}

.movie-info span {
  margin-left: 3px;  
}